<div id="container">
  <header>
    <h1 class="title">HTML5 Drawing</h1>
  </header>
  <div id="main" role="main">
    <nav>
      <ul class="navlink">
        <li>
          <%= link_to "Slideshow", 'info.html5.html' %>
        </li>
        <li>
          <%= link_to "Canvas: Balls", 'balls.html' %>
        </li>
        <li>
          <%= link_to "Canvas: Bitmaps", 'bitmap.html' %>
        </li>
        <li>
          <%= link_to "SVG: Balls", 'svgballs.html' %>
        </li>
        <li>
          <%= link_to 'Pool game', 'pool.html' %>
        </li>
        <li>
          <%= link_to 'Rotation Collisions', 'rotation_cols.html' %>
        </li>
        <li>
          <%= link_to 'Rectangle Collisions', 'rectangle_cols.html' %>
        </li>
        <li>
          <%= link_to 'Springs', 'springs.html' %>
        </li>
      </ul>
    </nav>
  </div>
</div>
    